<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Auto Scan</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <tr-item-wrap>
    <div class="item-inner">
      <span class="item-title">
        <span>Multi scan</span>
        <span class="indicator" [ngClass]="{light: signalWatcherEvent, error: signalWatcherError}"></span>
      </span>
      <span class="radio" [ngClass]="{disabled: watchPositionProcess}" (click)="toggleW()">
        <span>Pro</span><span class="radio-button" [ngClass]="{check: hiAccuracyW}"></span>
      </span>

    </div>
    <div class="buttons">
      <ion-button *ngIf="!watchPositionProcess" expand="block" (click)="startWatcher()">Start Watcher</ion-button>
      <ion-button *ngIf="watchId && watchPositionProcess" expand="block" (click)="clearWatcher()">Stop Watcher</ion-button>
    </div>
    <div class="counter">
      <span class="counter-item">Success: <span class="counter-succed"> {{ scanSuccedCounter }}</span></span>
      <span class="counter">Error: <span class="counter-error">{{ scanErrorCounter }}</span></span>
    </div>
    <div *ngIf="wX"><span>lat: {{ wX }}</span></div>
    <div *ngIf="wY"><span>lon: {{ wY }}</span></div>
    <div *ngIf="accuracyW"><span>Radius: {{ accuracyW }}</span></div>
    <span *ngIf="watcherPeriod">(Scan period: {{ watcherPeriod }})</span>
    <div *ngIf="errorMessageW || errorCodeW"><span class="info-error">Error: {{ errorCodeW }} {{ errorMessageW }}</span></div>
  </tr-item-wrap>

  <tr-item-wrap>
    <tr-google-map></tr-google-map>
  </tr-item-wrap>


</ion-content>
